body {
    font-family: Apercu, "Proxima Nova W01", "Helvetica Neue", Calibri, Roboto, sans-serif !important;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.display-inline-block {
    display: inline-block;
}

.vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.font-size-small {
    font-size: 1.5rem;
}

.font-size-smaller {
    font-size: 1.2rem;
}

.border-square {
    border-radius: 0 !important;
}

.vertical-flip {
    transform: scaleY(-1);
}

.btn.btn-outline-primary {
    color: rgb(0, 0, 255);
    border-color: rgb(0, 0, 255);
}

.btn.btn-outline-primary.active {
    color: #fff;
    background-color: rgb(0, 0, 255) !important;
}

.btn.text-primary {
    color: rgb(0, 0, 255) !important;
}

.shadow-on-hover {
    transition: .2s ease-out;
}

.shadow-on-hover:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.card {
    background-color: rgba(37,39,41,.01);
    border: 1px solid #dbdbdb;
}
